@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10vw;
    background-color: #ddf0e9;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.vi-hidden {
    visibility: hidden;
}

/* happy Birthday */
.title-happy-birthday {
    font-size: 1.9em;
    visibility: visible;
    text-align: center;
    margin: 0;
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    animation: zoomup 0.7s;
    text-align: center;
    line-height: 0.95em;
    font-weight: bold;
    color: #9cff7e;
    text-shadow:
        1px -1px 1px #BDBDBD,
        -1px 2px 1px #737272,
        -2px 4px 1px #767474,
        -3px 6px 1px #787777,
        -4px 8px 1px #424242,
        -5px 10px 1px #616161,
        -6px 12px 1px #757575,
        -7px 14px 1px #9E9E9E,
        -8px 16px 1px #BDBDBD,
        -9px 18px 1px #E0E0E0;
}

/* こなつ */
.title-konatsu {
    font-size: 1.4em;
    visibility: visible;
    text-align: center;
    margin: 0;
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    animation: zoomup 0.7s;
    ;
    text-align: center;
    line-height: 1.2em;
    font-weight: bold;
    color: #f8a450;
    text-shadow:
        1px -1px 1px #BDBDBD,
        -1px 2px 1px #737272,
        -2px 4px 1px #767474,
        -3px 6px 1px #787777,
        -4px 8px 1px #424242,
        -5px 10px 1px #616161,
        -6px 12px 1px #757575,
        -7px 14px 1px #9E9E9E,
        -8px 16px 1px #BDBDBD,
        -9px 18px 1px #E0E0E0;
    font-size: 1.5em;
}


/* 25 years anniversary */
.title-25 {
    font-size: 0.8em;
    visibility: visible;
    text-align: center;
    margin: 0;
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    animation: zoomup 0.7s;
    text-align: center;
    line-height: 0.95em;
    font-weight: bold;
    color: #fc327f;
    text-shadow:
        0.1px -0.1px 0.1px #BDBDBD,
        -0.1px 0.2px 0.1px #737272,
        -0.2px 0.4px 0.1px #767474,
        -0.3px 0.6px 0.1px #787777,
        -0.4px 0.8px 0.1px #424242,
        -0.5px 0.10px 0.1px #616161,
        -0.6px 0.12px 0.1px #757575,
        -0.7px 0.14px 0.1px #9E9E9E,
        -0.8px 0.16px 0.1px #BDBDBD,
        -0.9px 0.18px 0.1px #E0E0E0;
}

.animation-hurueru {
    animation: hurueru 1s infinite;
}

@keyframes hurueru {
    0% {
        transform: translate(0px, 0px) rotateZ(0deg);
        transform: scale(1);
    }

    25% {
        transform: translate(2px, 2px) rotateZ(2deg);
    }

    50% {
        transform: translate(0px, 2px) rotateZ(0deg);
        transform: scale(1.2);
    }

    75% {
        transform: translate(2px, 0px) rotateZ(-2deg);
    }

    100% {
        transform: translate(0px, 0px) rotateZ(0deg);
        transform: scale(1);
    }
}

@keyframes zoomup {
    0% {
        transform: scale(0);
    }

    75% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

#confetti {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}


/* タップボタン */
#plan-btn {
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 100%;
    font-size: 0.5em;
    color: rgb(255, 196, 58);
    font-weight: bold;
    animation: tikatika 1s linear infinite alternate;
}

.plan-btn {
    visibility: visible;
}

@keyframes tikatika {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}