@charset "utf-8";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10vw;
    background-color: #ddf0e9;
}

.plan-all-container {
    height: 100%;
    width: 100%;
}

.plan-button-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* header and footer */
.header {
    font-size: 0.5em;
    text-align: center;
    height: 30px;
    font-weight: bold;
}

/* フッター本体 */
.footer {
    font-size: 0.5em;
    text-align: center;
    display: block;
    height: 30px;
    width: 100%;
    /* background-color: orange; */
    overflow: hidden;
}

/* フッター内コンテンツ */
.footer__content {
    display: inline-block;
    color: #000;
    line-height: 30px;
    padding-left: 100%;
    white-space: nowrap;
    animation: animate-banner 4s linear infinite;
}

/* フッター内の要素をすべて選択 */
.footer__content>* {
    display: inline-block;
}

/* 横にスクロールさせるアニメーション */
@keyframes animate-banner {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


/* --- プラン内ボタン --- */
.plan1 {
    background-color: #f0dde1;
}

.plan2 {
    background-color: #e3ddf0;
}

.plan3 {
    background-color: #e6f0dd;
}

.plan4 {
    background-color: #f0dddd;
}

/*== ボタン共通設定 */
.plan-button {
    /*背景の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
    display: inline-block;
    width: 80%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

/*ボタン内側の設定*/
.plan-button span {
    font-size: 0.5em;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    /* 重なりを3Dで表示 */
    transform-style: preserve-3d;
    /* アニメーションの設定 数字が少なくなるほど早く回転 */
    transition: 0.5s;
}

/*== くるっと回転（奥に） */

/* 回転前 */
.rotate-bf span:nth-child(1) {
    background: #fff;
    color: #000;
    transform: rotateX(0deg);
    /*はじめは回転なし*/
    transform-origin: 0 50% -25px;
    /* 回転する起点 */
}

/*hoverをした後の形状*/
.rotate-af-child1 {
    /* X軸に90度回転 */
    transform: rotateX(90deg);
}

/* 回転後 */
.rotate-bf span:nth-child(2) {
    background: #000;
    color: #fff;
    transform: rotateX(-90deg);
    /*はじめはX軸に-90度回転*/
    transform-origin: 0 50% -25px;
    /* 回転する起点 */
}